@font-face {
  font-family: "Housearama";
  src: local("O"), url("../fonts/Housearama-LeagueNight.woff") format("woff"), url("../fonts/Housearama-LeagueNight.eot"), url("../fonts/Housearama-LeagueNight?") format("embedded-opentype"), url("../fonts/Housearama-LeagueNight.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Strangelove";
  src: local("O"), url("../fonts/strangelove-text.woff") format("woff"), url("../fonts/strangelove-text.eot"), url("../fonts/strangelove-text?") format("embedded-opentype"), url("../fonts/strangelove-text.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gotham Rounded Medium";
  src: local("O"), url("../fonts/GothamRounded-Medium.woff") format("woff"), url("../fonts/GothamRounded-Medium.eot"), url("../fonts/GothamRounded-Medium?") format("embedded-opentype"), url("../fonts/GothamRounded-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gotham Rounded Book";
  src: local("O"), url("../fonts/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book.eot"), url("../fonts/GothamRounded-Book?") format("embedded-opentype"), url("../fonts/GothamRounded-Book.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gotham Rounded Bold";
  src: local("O"), url("../fonts/GothamRounded-Bold.woff") format("woff"), url("../fonts/GothamRounded-Bold.eot"), url("../fonts/GothamRounded-Bold?") format("embedded-opentype"), url("../fonts/GothamRounded-Bold.ttf") format("truetype");
  font-style: normal;
}
h1 {
  font-family: "Housearama";
  color: #69b6b4;
}
h2 {
  font-family: "Strangelove";
  color: #bfd732;
  letter-spacing: 1pt;
}
h3 {
  font-family: "Housearama";
  color: #69b6b4;
}
h5 {
  font-family: "Strangelove";
}
h6 {
  color: #ffffff;
  font-family: "Gotham Rounded Book";
}
p {
  font-family: "Gotham Rounded Book";
  color: #53629a;
}
.space {
  height: 30px;
}
.btn-tlg {
  background-color: #e6872b;
  border-radius: 0;
  font-family: "Gotham Rounded Book";
  text-transform: uppercase;
  border-color: transparent;
  border: none;
}
.top_bar {
  height: 32px;
  background-color: #814497;
  width: 100%;
  padding-top: 5px;
}
.top_bar span {
  color: white;
  font-family: "Gotham Rounded Medium";
}
.top_bar i {
  color: #fff;
}
.top_bar .encuentra i {
  margin-right: 5px;
}
.navbar-tlg {
  background-color: transparent;
  border-color: transparent;
}
.navbar-tlg #navbar ul li {
  font-family: "Gotham Rounded Medium";
  letter-spacing: 1px;
  margin: 10px 21px;
}
.navbar-tlg #navbar ul li ::after {
  content: "";
  width: 12px;
  height: 12px;
  background: url("../img/asterisk.png") no-repeat;
  display: inline-block;
  position: absolute;
  top: 18px;
  right: -5px;
}
.navbar-tlg #navbar ul li a {
  color: #fff;
}
.navbar-tlg #navbar ul li :hover {
  color: #814497;
}
.navbar-tlg #navbar ul :last-child ::after {
  background: none;
}
.navbar-tlg .navbar-toggle {
  border-radius: 0;
  border-color: transparent;
  background-color: transparent;
  border: none;
}
.navbar-brand-tlg {
  margin-top: -10px;
  margin-left: 10px;
}
.navbar-brand-tlg img {
  width: 60%;
  margin-left: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
body {
  padding-top: 100px;
}
.navbar.navbar-fixed-top.fixed-theme {
  background-color: #814497;
}
.navbar.navbar-fixed-top.fixed-theme img {
  width: 45%;
  margin: 0 0 0 14px;
}
.navbar-brand.fixed-theme {
  font-size: 18px;
}
.navbar-container.fixed-theme {
  padding: 0;
}
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s;
}
.fixed-theme #navbar ul {
  padding-top: 0;
}
.fixed-theme #navbar ul li :hover {
  color: #bfd732;
}
.jumbotron {
  position: relative;
  margin-top: -68px;
  margin-bottom: 0;
  background: url('../img/home.png') center center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 530px;
}
.jumbotron .circle {
  position: absolute;
  background-color: rgba(77, 143, 204, 0.87);
  border-radius: 50%;
  display: block;
  width: 25%;
  content: "";
  height: 0;
  padding-bottom: 25%;
  text-align: center;
  margin-top: 34px;
  right: 80px;
}
.jumbotron .circle span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
  float: left;
  margin-top: -6.5em;
  padding-top: 50%;
  text-align: center;
  width: 100%;
}
.jumbotron .circle span h2 {
  color: #fff;
  font-size: 50pt;
}
.jumbotron .circle span p {
  color: #fff;
}
.jumbotron .circle .btn-tlg {
  margin: 0;
}
.intro-text-box {
  position: absolute;
  bottom: 0;
  color: #fff;
  line-height: 35px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.intro-text-box .intro-first-line {
  font-family: Housearama;
  font-size: 18pt;
  color: #ffffff;
}
.intro-text-box .intro-second-line {
  font-family: Strangelove;
  font-size: 55pt;
  color: #ffffff;
}
.try-tlg {
  height: 120px;
  background: rgba(78, 143, 204, 0.1);
}
.try-tlg h2 {
  margin-top: 7px;
  margin-bottom: -2px;
}
.try-tlg p {
  color: #4e8fcc;
}
.try-tlg .btn-tlg {
  position: relative;
  margin: 25pt 0;
}
.home-intro-text-big {
  padding: 50px;
}
.home-intro-text-big h1 {
  font-size: 50pt;
}
.home-intro-text-small h1 {
  font-size: 20pt;
}
.class-img {
  position: relative;
}
.class-img .circle {
  position: absolute;
  background-color: rgba(105, 200, 197, 0.87);
  border-radius: 50%;
  display: block;
  width: 30%;
  content: "";
  height: 0;
  padding-bottom: 30%;
  text-align: center;
  left: 30px;
  margin-top: 40px;
}
.class-img .circle span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
  float: left;
  margin-top: -3.5em;
  padding-top: 50%;
  text-align: center;
  width: 100%;
}
.class-img .circle span h2 {
  color: #fff;
  font-size: 16pt;
}
.class-img .circle .circle-text-md h2 {
  font-size: 60pt;
  margin-top: -0.5em;
}
.class-img .circle .circle-text-md p {
  padding: 0px 50px;
  color: #fff;
}
.class-img .circle .btn-tlg {
  margin: 0;
}
.party-img {
  position: relative;
}
.party-img .circle {
  position: absolute;
  background-color: rgba(253, 200, 6, 0.87);
  border-radius: 50%;
  display: block;
  width: 30%;
  content: "";
  height: 0;
  padding-bottom: 30%;
  text-align: center;
  right: 47px;
  margin-top: 60px;
}
.party-img .circle span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
  float: left;
  margin-top: -3.5em;
  padding-top: 50%;
  text-align: center;
  width: 100%;
}
.party-img .circle span h2 {
  color: #fff;
  font-size: 16pt;
}
.party-img .circle .circle-text-md h2 {
  font-size: 60pt;
  margin-top: -0.5em;
}
.party-img .circle .circle-text-md p {
  padding: 0px 50px;
  color: #fff;
}
.party-img .circle .btn-tlg {
  margin: 0;
}
.camp-img {
  position: relative;
}
.camp-img .circle {
  position: absolute;
  background-color: #5262ab;
  border-radius: 50%;
  display: block;
  width: 30%;
  content: "";
  height: 0;
  padding-bottom: 30%;
  text-align: center;
  left: 10px;
  margin-top: 30px;
}
.camp-img .circle span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
  float: left;
  margin-top: -3.5em;
  padding-top: 50%;
  text-align: center;
  width: 100%;
}
.camp-img .circle span h2 {
  color: #fff;
  font-size: 16pt;
}
.camp-img .circle .circle-text-md h2 {
  font-size: 50pt;
  margin-top: -0.5em;
}
.camp-img .circle .circle-text-md p {
  padding: 0px 50px;
  color: #fff;
}
.camp-img .circle .btn-tlg {
  margin: 0;
}
.class-intro-img {
  position: relative;
}
.class-intro-img .circle {
  position: absolute;
  background-color: #0777bc;
  border-radius: 50%;
  display: block;
  width: 30%;
  content: "";
  height: 0;
  padding-bottom: 30%;
  text-align: center;
  left: 10px;
  margin-top: 30px;
}
.class-intro-img .circle span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
  float: left;
  margin-top: -3.5em;
  padding-top: 50%;
  text-align: center;
  width: 100%;
}
.class-intro-img .circle span h2 {
  color: #fff;
  font-size: 16pt;
}
.class-intro-img .circle .circle-text-md h2 {
  font-size: 50pt;
  margin-top: -0.5em;
}
.class-intro-img .circle .circle-text-md p {
  padding: 0px 50px;
  color: #fff;
}
.class-intro-img .circle .btn-tlg {
  margin: 0;
}
.our-classes {
  margin-top: -68px;
  width: 100%;
  position: relative;
}
.our-classes h2 {
  display: block;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #fff;
}
.classes-nav {
  background: rgba(78, 143, 204, 0.1);
  height: 50px;
}
.classes-nav ul {
  padding: 12px 0;
}
.classes-nav ul li {
  font-family: "Gotham Rounded Book";
  color: #4e8fcc;
}
.tlg-classes-img {
  padding: 0;
  margin: 0;
}
.parent-child-text {
  background-color: rgba(78, 143, 204, 0.1);
  display: block;
  max-width: 100%;
  height: auto;
}
.parent-child-text img {
  margin-left: auto;
  margin-right: auto;
}
.parent-child-text a .btn-tlg {
  position: relative;
  margin-left: 10px;
}
#carousel-comments .carousel-inner .comments-tlg {
  width: 100%;
  position: absolute;
  top: 0;
  text-shadow: none;
}
#carousel-comments .carousel-inner .comments-tlg h1 {
  color: #814497;
}
#carousel-comments .carousel-inner .comments-tlg h5 {
  color: #814497;
  font-size: 30pt;
}
#carousel-comments .carousel-inner .comments-tlg .comment-bubble {
  width: 50%;
  padding: 74px 2px;
}
#carousel-comments .carousel-inner .comments-tlg .comment-bubble p {
  color: #814497;
  font-family: "Strangelove";
}
#carousel-comments .carousel-inner .comments-tlg {
  width: 50%;
  position: absolute;
  top: 0;
  text-shadow: none;
}
#carousel-comments .carousel-inner .comments-tlg h1 {
  color: #814497;
}
#carousel-comments .carousel-inner .comments-tlg h5 {
  color: #814497;
  font-size: 30pt;
}
#carousel-comments .carousel-inner .comments-tlg .comment-bubble {
  width: 70%;
  padding: 40px 2px;
  margin-left: -18px;
}
#carousel-comments .carousel-inner .comments-tlg .comment-bubble p {
  color: #814497;
  font-family: "Strangelove";
}
.calendar {
  margin-top: -68px;
  width: 100%;
  position: relative;
}
.calendar h2 {
  display: block;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #fff;
}
.panel-schedule {
  border: none;
  border-radius: 0;
}
.panel-schedule .panel-heading {
  border-radius: 0;
}
.panel-schedule .panel-heading h2 {
  font-size: 25pt;
}
.panel-schedule .panel-body {
  padding: 0;
}
.panel-schedule .panel-body ul li {
  list-style: none;
  border-radius: 0;
}
.panel-schedule .panel-body ul li p {
  margin-bottom: 1px;
}
.panel-schedule .panel-body ul li p.panel-schedule-headings {
  font-family: "Gotham Rounded Bold";
  text-transform: uppercase;
}
.panel-schedule .panel-body ul li:first-child {
  border-left: 15px solid rgba(105, 200, 197, 0.54);
}
.panel-schedule .panel-body ul li:nth-child(2) {
  border-left: 15px solid rgba(236, 33, 142, 0.54);
}
.panel-schedule .panel-body ul li:nth-child(3) {
  border-left: 15px solid rgba(236, 33, 142, 0.38);
}
.panel-schedule .panel-body ul li:nth-child(4) {
  border-left: 15px solid rgba(236, 33, 142, 0.2);
}
.panel-schedule .panel-body ul li:nth-child(5) {
  border-left: 15px solid rgba(193, 215, 49, 0.7);
}
.panel-schedule .panel-body ul li:nth-child(6) {
  border-left: 15px solid rgba(236, 33, 142, 0.87);
}
.panel-schedule .panel-body ul li:last-child {
  border-left: none;
  border: none;
  border-bottom: none;
}
.parties {
  margin-top: -68px;
  width: 100%;
  position: relative;
}
.parties h2 {
  display: block;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #fff;
}
.party-container {
  background-color: #fdc806;
}
.party-container .party-text {
  display: block;
  margin: auto;
}
.party-container .party-text h2 {
  color: #fff;
  font-size: 40pt;
}
.party-container .party-text h1 {
  color: #fff;
  font-size: 20pt;
}
.party-container img {
  display: block;
  margin: auto;
  width: 40%;
  padding: 30px 0;
}
.party-container p {
  color: #fff;
}
.camp {
  margin-top: -68px;
  width: 100%;
  position: relative;
}
.camp h2 {
  position: absolute;
  bottom: 0;
  left: 45%;
  text-align: center;
  color: #ffffff;
}
.about-us {
  margin-top: -68px;
  width: 100%;
  position: relative;
}
.about-us h2.about-us-title {
  position: absolute;
  bottom: 0;
  left: 45%;
  text-align: center;
  color: #ffffff;
}
.about-us .about-container img {
  padding: 60px 0;
}
.footer {
  background-color: #814497;
}
.footer .footer-box {
  padding: 20px;
}
.footer .footer-box h2 {
  color: #fff;
}
.footer .footer-box p {
  color: #fff;
}
.footer .footer-box a {
  color: #fff;
}
.footer .footer-box .nav-footer li {
  padding: 0 1px;
}
.footer .footer-box .nav-footer li a {
  font-family: "Gotham Rounded Book";
}
.footer .legal-footer-nav {
  margin-top: 20px;
}
.footer .legal-footer-nav li {
  padding: 0 1px;
}
.footer .legal-footer-nav li a {
  font-family: "Gotham Rounded Book";
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .navbar-tlg #navbar ul li {
    margin: 0;
  }
  .intro-text-box {
    bottom: 220px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .navbar-tlg #navbar ul li {
    margin: 10px -10px;
  }
  .navbar-tlg #navbar ul li ::after {
    background: none;
  }
  .intro-text-box {
    bottom: 220px;
  }
}
